{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4">Supprimer un compte :</h2>
            <div class="row">
            {% for account in accounts %}
                <article class="col-lg-3 m-auto my-5 text-center">
                    <div class="card text-center">
                        <h5 class="card-header">{{account.type}} <br/>
                            N°{{account.number}}</h5>
                        <div class="card-body">
                            <a href="{{ path('deleteAccount', {id:account.id}) }}" class="btn bgColorPrim text-white my-4">Supprimer</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <div>
    </section>
</main>
{% endblock %}
