{% extends 'base.html.twig' %}

{% block title %}Supprimer compte{% endblock %}

{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4">Supprimer un compte :</h2>
            <div class="row">
            {% for account in accounts %}
                <article class="col-lg-3 m-auto my-5 text-center">
                    <div class="card text-center">
                        <h5 class="card-header">{{account.type}} <br/>
                            N°{{account.number}}</h5>
                        <div class="card-body">
                            <form method="POST" action="{{ path('deleteAccount', {id:account.id}) }}" onsubmit="return confirm('Êtes-vous vraiment sûr?')">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account.id) }}">
                                <button class="btn bgColorTer text-white my-4">Faire la transaction</button>
                            </form>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <div>
    </section>
</main>
{% endblock %}
