{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
<h2 class="text-center my-3"> Créer un nouveau compte</h2>
<div class="w-50 mx-3">
    {{ form(form) }}
</div>
{% endblock %}
