{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block body %}
<main>
    <section class="container my-5">
        <h2 class="my-4"> Créer un nouveau compte</h2>
        <div class="row">
            <div class="col-lg-6">
                {{ form(form) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}
