

body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    background-image: url("../../img/LogoBanqueChabaut.png");
    background-position-x: 100%;
    background-position-y: -30%;
    background-repeat: no-repeat;
    background-position: absolute;
}


main{
    min-height: 45vh;
}

.logo{
    height:140px;
    width: 140px;
}

.sizeIcone{
    font-size: 30px;
  }




  /* Color */

.bgColorPrim{
    background-color: #8499B1;
}
.bgColorSec{
    background-color: #593f62;
}
.bgColorTer{
    background-color: #36151e;
}

/* animation */

@keyframes example {
    from {width : 0}
    to { width: 100%;}
  }
  
  /* The element to apply the animation to */
  .form1 {
    animation-name: example;
    animation-duration: 0.5s;
  }