body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url("../../img/LogoFond.png");
    background-position-x: 20%; */
    
}


.logo{
    height:140px;
    width: 140px;
}

.sizeIcone{
    font-size: 30px;
  }




  /* Color */

.bgColorPrim{
    background-color: #8499B1;
}
.bgColorSec{
    background-color: #593f62;
}
.bgColorTer{
    background-color: #36151e;
}